html {
    color-scheme: dark;
}

:root {
    --color: #3c4fe0;
    --brown: #c7d1d1;
    --black: rgba(47, 47, 47, 0.206);
}

* {
    margin: 0px;
}

body {
    font-family: cardigan-titling, 
    'Courier New', Courier, monospace;
}

@font-face {
    font-family: cardigan-titling;
    src: url('cardigan-titling/cardigan-titling-rg.otf') format('truetype');
}

@font-face {
    font-family: norse;
    src: url('Norse-Bold.otf');
}

.main-container {
    display: flex;
    flex-direction: row;    
    justify-self: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.picture-container {
    width: 40%;
    height: 100%;
}

.form-container {
    width: 60%;
    height: inherit;
    background-color: rgb(4, 4, 4);
    height: 100%;
    color: rgba(245, 245, 245, 0.809)
}

legend {
    padding: 12px;
    padding-left: 40px;
    font-size: 28px;
}

img {
    width: 3vw;
}

.logo {
    position: absolute;
    text-align: center;
    top: 210px;
    font-family: norse;
    color: whitesmoke;
    font-size: 125px;
    text-align: center;
    width: 40%;
    background-color: rgba(5, 5, 5, 0.25);
    opacity: 80%;
}

.form-box {
    background-color: rgba(47, 47, 47, 0.206);
    box-shadow: 5px 5px 15px 5px var(--black);
}

.stars {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.heading {
    font-weight: 550;
    font-size: 22px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.para {
    padding-top: 50px;
}

.get-started {
    margin-top: 5px;
    display: inline;
}

.phrase {
    margin-top: 50px;
    display: inline-block;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 12px;
    font-size: 16px;
    margin-left: 22px;
}

.form-part {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    width: 400px;
    height: 75px;
}


.button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, var(--brown) 100%);
  border: 0;
  border-radius: 8px;
  box-shadow: var(--brown) 0 2px 4px,var(--brown) 0 7px 13px -3px,var(--brown) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin-left: 2.4vw;
  margin-top: 20px;
}

.button:focus {
  box-shadow: var(--color) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--brown) 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--brown) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: var(--color) 0 3px 7px inset;
  transform: translateY(2px);
}

.already {
    padding-top: 1.5vw;
    padding-left: 2.4vw;
}

#firstName,
#lastName,
#useremail,
#new-password,
#confirm_password,
#phonenumber {
    background-color: var(--black);
    border: solid 1px rgba(245, 245, 245, 0.809);
    border-radius: 2px;
    height: 25px;
    font-size: 1rem;
}